header {
    font-family : 'Roboto';
    font-weight : bold;
    background-color : black;
}

body {
    background-color: #000;
    color: #fff;
}

nav {
    position:relative;
    top:0;
    left: 0;
    right: 0;
    height:40px;
    padding:20px 20px 20px 20px;
    background-color: black;
}

a {
    text-decoration: none;
    color:white;
}

.nav-wrap{
    margin-left : auto;
    margin-right : auto;
    width:75%;
    height:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left{
    display:flex;
    align-items: center;
    font-size:27px;
}

.nav-logo{
    width:60px;
    height:auto;
}

.orange-btn {
    display : inline-block;
    position : relative;
    padding : 10px 18px;
    border-radius: 50px;
    background-color: #F39927;
    transition: 0.25s;
    cursor: pointer;
}

.orange-btn:hover {
    transform : scale(1.05);

}

.nav-right{
    font-size:20px;
}

.nav-right a{
    margin:0 10px 0 10px;
}


.nav-login {
    width:75%;
    height:100%;
    display:flex;
    justify-content: space-between;
    align-items: right;
    font-size : 13px;
}

.nav-login a{
    margin:0 10px 0 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover {background-color: pink;}

 