header {
    font-family : 'Roboto';
    font-weight : bold;
    background-color : black;
}

body {
    background-color: #000;
    color: #fff;
}

nav {
    position:relative;
    top:0px;
    left: 0;
    right: 0;
    height:40px;
    padding:20px 20px 20px 20px;
    background-color: black;
}

a {
    text-decoration: none;
    color:white;
}

.nav-wrap{
    margin-left : auto;
    margin-right : auto;
    width:75%;
    height:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left{
    display:flex;
    align-items: center;
    font-size:27px;
}

.nav-logo{
    width:60px;
    height:auto;
}

.nav-right{
    font-size:20px;
}

.nav-right a{
    margin:0 10px 0 10px;
}

.nav-login {
    width:75%;
    height:100%;
    display:flex;
    justify-content: space-between;
    align-items: right;
    font-size : 13px;
}

.nav-login a{
    margin:0 10px 0 10px;
}