{% extends 'base.html' %}

{% load static %}

{% block header %}
<title>로그인 페이지</title>
<link rel = "stylesheet" href="{% static 'css/login.css' %}">

{% endblock %}

{% block contents %}

<div class = "login-box">
    <h2> 로그인 </h2>
    <form class = "login-form" action ="{% url 'login' %}" method = "POST" enctype="multipart/form-data">
        {% csrf_token %}

        <label for = "username" class = "login-form__label">아이디 </label>
        <br>
        <input type = "email" id = "username" name = "username" 
        class = "login-form__username__input" value="{{ form.username.value|default_if_none:'' }}">
        <br>
        <label for = "password" class = "login-form__label">비밀번호 </label>
        <br>
        <input type = "password" id = "password" name= "password" 
        class = "login-form__password__input" value ="{{ form.password.value|default_if_none:'' }}">
        <div class ="login-form__error-message"> </div>
        
    
       
        <br>
        <input type = "submit" value = "로그인" class = "login-form__login__submit">
        <br>
        
    </form >
<a href = "{% url 'signup' %}" class = "login-box__signup__btn"> 회원가입</a>

</div>

{% if login_error %}
<script>
    let errorMessage = document.querySelector('.login-form__error-message');
    const message = "입력정보가 잘못되었습니다. 다시 입력해주세요"  
    errorMessage.innerText = message;
</script>
{% endif %}

{% endblock %}