{% extends 'base.html' %}
{% load static %}

{% block header %}
<title>
로그인 페이지
</title>
<link rel = "stylesheet" href="{% static 'css/login2.css' %}">


{% endblock %}


{% block contents %}

<div class = "login-form">
    <h2> 로그인</h2>
    <form action="{% url 'login' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <label for = "username" class = "login-form__label__login">아이디 </label>
        <br>
        <input type = "text" id = "username" class = "login-form__username__input" name = "username">

        <br>

        <label for = "password" class = "login-form__label__password">비밀번호 </label>
        <br>
        <input type = "password" id = "password" class = "login-form__password__input" name = "password">
        <br>

        <input type = "submit" value="Login" class="login-form__submit "> </input>

    </form>
</div>

{% endblock %}