<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
<form action="signup.html" method="POST">
    <label for = "username"></label>
    <input type="email" id= "username" name = "username">
    <input type ="password" id= "password" name = "password" >
    <input type = "password_check" id= "password_check" name = "password_check">
    <input type = "text" id= "nickname" name ="nickname">
    <input type = "image" id= "profile" name = "profile">
    <select>
        <option value = "mento" id= "mento" name ="mento"> 멘토</option>
            <option value = "mentee"id= "mentee" name="mentee"> 멘티</option>

    </select>
    <input type = "text" id= "bio">
    <input type = "submit">
</form>


</body>

</html>