/* aboutus 10th orbiting ball css */
#aboutus-10th{
    margin-top:50px;
    display:flex;
    justify-content: center;
    width:100%;
}

#canvas {
    position: relative;
    background-color: #000000;
    margin: 1em auto;
}

.carrier {
    background-color: #000000;
    position: absolute;
    display: inline-block;
    border-radius: 50%;
}

.ball {
    background-color: #f7f7f7;
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    vertical-align: bottom;
}

.member_img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}


@keyframes slide-left--top{
    from{
        margin-left:0vw;
        opacity: 0;
    }
    to{
        margin-left:15vw;
        opacity: 1;
    }
}
@keyframes slide-left--bottom{
    from{
        margin-left:0px;
        opacity: 0;
    }
    to{
        margin-left:25vw;
        opacity: 1;
    }
}

@keyframes slide-right{
    from{
        margin-right:0vw;
        opacity: 0;
    }
    to{
        margin-right:15vw;
        opacity: 1;
    }
}

/* aboutus-10th add button */
#add-btn {
    position:absolute;
    right: 40px;
    /* bottom: 103.92px; */
    bottom: 40px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border:none;
    transition: 0.5s;
    z-index: 3;
}

#add-btn:hover{
    background-color: orange;
}

#add-btn:hover #plus-logo::before{
    color:#ffffff;
}
#add-btn:hover #plus-logo::after{
    color:#ffffff;
}
#plus-logo::before{
    color:#000000;
    content: '';
    position: absolute;
    border-radius: 5px;
    left: 50%;
    top: 50%;
    width: 80px;
    margin-left: -40px;
    margin-top: -5px;
    border-top: 10px solid;
    transition:0.3s;
}

#plus-logo::after{
    color:#000000;
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 5px;
    height: 80px;
    margin-left: -5px;
    margin-top: -40px;
    border-left: 10px solid;
    transition:0.3s;
}