
/* about us */
.aboutus_section{
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    /* padding: 0px 100px 0px 100px; */
}

.create_modal{
    color:black;
    display: flex;
    justify-content: center;
    width : 600px;
    height : 600px;
    background-color: white;
    border-radius: 50%;
    margin-top: 120px;
    box-shadow: 0 1px 20px 0 rgb(255, 255, 255);

}

.aboutus_form{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

#aboutus_plus{
    border-radius: 10px;
    width:200px;
    cursor: pointer;
}

#aboutus_img{
    display:none;
}

#aboutus_name{
    width:250px;
    height:40px;
    margin:10px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    
}

.aboutus_form textarea{
    margin:20px;
    margin-top:0px;
    text-align: center;
    border: 1px solid black;
    border-radius:5px;
}

.aboutus_form > button{
    width:150px;
    height:40px;
    border:none;
    border-radius: 50px;
    color:white;
    font-size:25px;
    background-color: orange;
    display:flex;
    justify-content: center;
    align-items: center;

}

.aboutus_form > button > img{
    width:40px;
}