.history-texts{
    /* background: url(../img/history-img3.png) no-repeat center center; 
    background-size: auto; 
    width:100%; 
    height: auto; */
    position: relative;
    z-index:1;
    margin-top: 0%;
    font-size: 15px;
    color:white;
    text-align: center;
    float:left;
    max-width:100%;
}
.history-image{
    width: 100%;
    height:auto;
    position: absolute;
    z-index:1;
    margin-top:10%;
}
.history-section{
    overflow-x: hidden;
    max-width: 100%;
}
.history-texts h1{
    font-size: 50px;
    margin-bottom: 0%;
}
.history-texts a:hover{
    color:#0075BC;
    font-weight: bold;
}
.text-first{
    width: 100%;
    margin-left: 200%;
}
.text-second{
    width: 100%;
    margin-top: 0%;
    margin-left: 0%;
}
.text-third{
    width: 100%;
    margin-top: 0%;
    margin-left: 0%;
}
.text-fourth{
    width: 100%;
    margin-top: 0%;
    margin-left: 0%;
}
.text-fifth{
    width: 100%;
    margin-top: 0%;
    margin-left: 0%;
}
.text-sixth{
    width: 100%;
    margin-top: 0%;
    margin-left: 0%;
}
.text-seventh{
    width: 100%;
    margin-top: 0%;
    margin-left: 0%;
}
.text-eighth{
    width: 100%;
    margin-top: 0%;
    margin-left: 0%;
}