.history-inner{
    position:relative;
    background: no-repeat url(../img/history-img2.png) 50% / 100%;
    margin-top:50px;
}

.history-background {
    vertical-align: top;
    width: 100%;
    opacity: 0;
}

.history-texts{
    position:absolute;
    top: 0;
    width: 100%;
    height:100%;
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.history-texts > div {
    text-align: center;
    height:fit-content;
    font-size:1.2vw;
}

.history-texts > div > h1 {
    font-size: 3vw;
}

.history-texts > div > .emph {
    color:orange;
    font-size: 1.3vw;
}

.history-text-1{
    grid-column: 2/4;
    grid-row: 1/2;
    width: 55%;
}

.history-text-2{
    grid-column: 2/4;
    grid-row: 2/4;
    width: 90%;
    margin-top: 5vw;
}

.history-text-3{
    grid-column: 3/5;
    grid-row: 2/3;
    width: 100%;
    margin-top: 1vw;
}

.history-text-4{
    grid-column: 4/6;
    grid-row: 5/7;
    width:90%;
    margin-top:3vw;
}

.history-text-5{
    grid-column: 2/4;
    grid-row: 7/9;
    width:95%;
}

.history-text-6{
    grid-column: 2/3;
    grid-row: 8/10;
    width: 80%;
    margin-top: 11vw;
}

.history-text-7{
    grid-column: 4/5;
    grid-row: 8/10;
    width: 80%;
    margin-top: 3vw;
}

.history-text-8{
    grid-column: 4/6;
    grid-row: 9/11;
    margin-top:10vw;
}