section{
    display:flex;
    justify-content: center;
    width:100vw;
    margin-bottom: 150px;
}

.main-section{
    width:100%;
    display:flex;
    justify-content: space-between;
    padding: 0px 100px 0px 100px;
    margin-top:120px;

}

.main-title{
    width:600px;
}

.triangle-wrap{
    position:relative;
    top:0;
    left:0;
}

.triangle-top {
    position:absolute;
    width: 0px;
    height: 0px;
    border-top: 120px solid orange;
    border-left: 0px solid transparent;
    border-right: 360px solid transparent;
  }

.triangle-left {
    position:absolute;
    width: 0px;
    height: 0px;
    border-top: 360px solid orange;
    border-left: 0px solid transparent;
    border-right: 120px solid transparent;
}

.slogan-wrap{
    position:absolute;
    margin-top:20px;
    font-size:100px;
}

.slogan1{
    margin-left:50px;
}

.slogan2{
    margin-left:230px;
}

.slogan3{
    margin-left:410px;
}

.main-img{
    margin-top:40px;
}

.cau-logo{
    width:320px;
    height:auto;
}

/*sub section */
.sub-section{
    width:100%;
    padding: 0px 100px 0px 100px;
    margin-top:120px;
}

.sentence{
    font-size:30px;
    margin-bottom:150px;
}

.right-text{
    text-align: right;
    animation: slide-right 3s ease-out;
    position:absolute;
    right:500px;
}
.left-text--top{
    animation: slide-left--top 3s ease-out;
    position: absolute;
    left:500px;
}
.left-text--bottom{
    animation: slide-left--bottom 3s ease-out;
    position: absolute;
    left:400px;
}
/* triangle section */
.triangle-section{
    padding: 150px;
}
hr{
    width:300px;
    background-color:#0075BC;
    padding:1px;
    color:#0075BC;
    border-color: #0075BC;
}
.triangle-line--left{
    transform: rotate( 60deg );
    margin-left: 175px;
}
.triangle-line--right{
    transform: rotate( -60deg );
    margin-right: 175px
}
.triangle-line--bottom{
    margin-top: 145px;
    margin-left: 85px;
}
.talent-text--top{
    position: absolute;
    left: 600px;
    margin-top: -175px;
    font-size: 25px;
    text-align: center;
}
.talent-text--left{
    position: absolute;
    font-size: 25px;
    margin-top: -15px;
    left: 410px;
}
.talent-text--right{
    position: absolute;
    font-size: 25px;
    margin-top: -15px;
    right: 375px;
}

@keyframes slide-left--top{
    from{
        left:-100px;
        opacity: 0;
    }
    to{
        left:500px;
        opacity: 1;
    }
}
@keyframes slide-left--bottom{
    from{
        left:-100px;
        opacity: 0;
    }
    to{
        left:400px;
        opacity: 1;
    }
}

@keyframes slide-right{
    from{
        right:-100px;
        opacity: 0;
    }
    to{
        right:500px;
        opacity: 1;
    }
}
