section{
    display:flex;
    justify-content: center;
    width:100%;
}

.main-section{
    width:100%;
    display:flex;
    justify-content: space-between;
    padding: 0px 100px 0px 100px;
    margin-top:120px;

}

.main-title{
    width:600px;
}

.triangle-wrap{
    position:relative;
    top:0;
    left:0;
}

.triangle-top {
    position:absolute;
    width: 0px;
    height: 0px;
    border-top: 120px solid orange;
    border-left: 0px solid transparent;
    border-right: 360px solid transparent;
  }

.triangle-left {
    position:absolute;
    width: 0px;
    height: 0px;
    border-top: 360px solid orange;
    border-left: 0px solid transparent;
    border-right: 120px solid transparent;
}

.slogan-wrap{
    position:absolute;
    margin-top:20px;
    font-size:100px;
}

.slogan1{
    margin-left:50px;
}

.slogan2{
    margin-left:230px;
}

.slogan3{
    margin-left:410px;
}

.main-img{
    margin-top:40px;
}

.cau-logo{
    width:320px;
    height:auto;
}

/*sub section */
#value-section{
    margin-top: 150px;
}

.sub-section{
    width:100%;
    height: 480px;
    padding: 0px 100px 0px 100px;
}

.sentence-box{
    overflow-x: hidden;
    width:100%;
    height:100%;
}

.sentence{
    font-size:30px;
    font-weight:900;
    position:relative;
    margin: 90px 0;
}

#left-text--top{
    margin-left:15vw;
}

#right-text{
    text-align: right;
    margin-right:15vw;

}

#left-text--bottom{
    margin-left:25vw;
}


/* triangle section */
#triangle-rotation {
    height: 32vw;
}

#triangle-section{
    height: 100%;
    width: 60vw;
    position:relative;
}

#triangle-line {
    height:100%;
    width: 100%;
}

hr{
    background-color:#0075BC;
    padding:1px;
    color:#0075BC;
    border-color: #0075BC;
    margin:auto;
}

svg{
    position:absolute;
}

.talent-text-box{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

#talent-text--top{
    position: relative;
    font-size: 25px;
    font-weight: 900;
    width:fit-content;
}


#talent-text--left{
    position: relative;
    font-size: 25px;
    font-weight: 900;
    width:fit-content;
}

#talent-text--right{
    position: relative;
    font-size: 25px;
    font-weight: 900;
    width:fit-content;
}

@keyframes slide-left--top{
    from{
        margin-left:0vw;
        opacity: 0;
    }
    to{
        margin-left:15vw;
        opacity: 1;
    }
}
@keyframes slide-left--bottom{
    from{
        margin-left:0px;
        opacity: 0;
    }
    to{
        margin-left:25vw;
        opacity: 1;
    }
}

@keyframes slide-right{
    from{
        margin-right:0vw;
        opacity: 0;
    }
    to{
        margin-right:15vw;
        opacity: 1;
    }
}
