section{
    display:flex;
    justify-content: center;
    width:100vw;
    height:600px;

}

.main-section{
    width:100%;
    display:flex;
    justify-content: space-between;
    padding: 0px 100px 0px 100px;
    margin-top:120px;

}

.main-title{
    width:600px;
}

.triangle-wrap{
    position:relative;
    top:0;
    left:0;
}

.triangle-top {
    position:absolute;
    width: 0px;
    height: 0px;
    border-top: 120px solid orange;
    border-left: 0px solid transparent;
    border-right: 360px solid transparent;
  }

.triangle-left {
    position:absolute;
    width: 0px;
    height: 0px;
    border-top: 360px solid orange;
    border-left: 0px solid transparent;
    border-right: 120px solid transparent;
}

.slogan-wrap{
    position:absolute;
    margin-top:20px;
    font-size:100px;
}

.slogan1{
    margin-left:50px;
}

.slogan2{
    margin-left:230px;
}

.slogan3{
    margin-left:410px;
}

.main-img{
    margin-top:40px;
}

.cau-logo{
    width:320px;
    height:auto;
}

/*sub section */
.sub-section{
    width:100%;
    padding: 0px 100px 0px 100px;
    margin-top:120px;
}

.sentence{
    font-size:30px;
    margin-bottom:150px;
}

.right-text{
    text-align: right;
    animation: slide-right 2s ease-out;
}
.left-text{
    animation: slide-left 2s ease-out;
}

@keyframes slide-left{
    from{
        /* 시작부분 */
        left:-100px;
        opacity: 0;
    }
    to{
        left:400px;
        opacity: 1;
    }
}
@keyframes slide-right{
    from{
        /* 시작부분 */
        right:-100px;
        opacity: 0;
    }
    to{
        right:400px;
        opacity: 1;
    }
}

/* about us */
.aboutus_section{
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    padding: 0px 100px 0px 100px;
}

.create_modal{
    color:black;
    display: flex;
    justify-content: center;
    width : 600px;
    height : 600px;
    background-color: white;
    border-radius: 50%;
    margin-top: 150px;
    box-shadow: 0 1px 20px 0 rgb(255, 255, 255);

}

.aboutus_form{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

.aboutus_form img{
    border-radius: 10px;
    width:200px;
    cursor: pointer;
}

#aboutus_name{
    width:200px;
    height:20px;
    margin:10px;
}

.aboutus_form textarea{
    margin:10px;
    margin-top:0px;
}

.aboutus_form button{
    width:100px;
    border-radius: 50px;
    background-color: orange;
}