#history-img{
    width:100%;
    margin: 0vw -3vw;
}
.history-section{
    overflow-x: hidden;
}
.history-img{
    background: url(../img/historyimg.png) no-repeat center center;
    background-size: contain;
    width: 2000px;
    height: 2000px;
    margin-left: -400px;
    margin-top: -100px;
}
.history-text{
    color:white;
    text-align: center;
    float:left;
}
.history-section p{
    font-size:xxx-large;
    margin:0px;
}
.history-text a:hover{
    color:#0075BC;
    font-weight: bold;
}
.text-first{
    padding-top: 130px;
    padding-left: 740px;
}
.text-second{
    padding-top: 390px;
    margin-left: -100px;
}
.text-third{
    padding-top: 300px;
    padding-left: 180px;
}
.text-fourth{
    padding-top: 870px;
    padding-left: 150px;
}
.text-fifth{
    padding-top: 200px;
    padding-left: 900px;
}
.text-sixth{
    padding-top: 430px;
    margin-left: -120px;
}
.text-seventh{
    padding-top: 430px;
    padding-left: 1400px;
}
.text-eighth{
    padding-top: 400px;
    margin-left: -680px;

}

ul{
    margin-left:-3vw;
}
ul, li{
    list-style: none;
}
.project-section .project-card strong{
    font-size: 25px;
}
.project-section .project-cards h1{
    color:#F39927;
}
.project-section .project-card p{
    font-size: 15px;;
}
.project-section .project-card hr{
    color: #0075BC;
    border: 0px;
    background-color: #0075BC;
    width: 30vw;
    height: 2px;
    margin-top: -10px;
}
.project-card{
    /* 3장씩 들어가도록 */
    width:30vw;
    display:inline-block;
    margin-left:3vw;
}
.project-card:nth-child(3n-2){
    margin-left:0;
}
.project-card-img{
    width: 30vw;
    height: 20vw;
    border-radius: 10px;
    object-fit: cover;
}
#youtube-logo{
    margin:-3px;
}
#github-icon{
    margin: -12px;
    width: 3vw;
}