body  {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 40vh;
    height: 100vh;
}

.input-box {
    background-color: #4E4E4E;
    width : 30vh;
    height : 5vh;
}

label {
    color : #ffffff;
    font-size: 16px;
}

.signup_box {
    width: 40vh;
    height: 100vh;
}