* {
    font-family: 'roboto';
}

.signup-box {
    width : 100vw;
    height: 100vh;
}

.signup__form {
    max-width: 50vmax;
    max-height: 100vmin;
    width: 30vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    
}

.signup-form__input__image {
    background-color: #4E4E4E;
}

.signup-form__label__id {
    margin-right: 23vw;
    margin-bottom: -0.5vh;
    
}

.signup__form p {
    margin-right: 21vw;
    margin-bottom:1vh;
}

.signup-form__label__password {
    margin-right: 22vw;
    margin-bottom: -0.5vh;
    
}

.signup-form__label__passwordcheck {
    margin-right: 20vw;
    margin-bottom: -0.5vh;
    
}

.signup-form__label__nickname {
    font-size : 16px;
    margin-right: 23vw;
    margin-bottom: -0.5vh;
    
}

.signup-form__label__bio {
    font-size : 16px;
    margin-right: 18.5vw;
    margin-bottom: -0.5vh;
    
}

.signup-form__label__profile {
    font-size : 13px;
    height: 4vh;
    width: 24.5vw;
   margin-top: 2vh;
   background-color: #4E4E4E;
   border-radius: 0.2vw;
   padding: 2vh 0.5vw 0.2vh 0.5vw;
   
}

.signup-form__label__mento {
    font-size : 16px;
    margin-right: 19.5vw;
    margin-bottom: -0.5vh;
    
}


.signup-form__input {
    background-color: #000;
    width: 25vw;
    height: 3vh;
    border-radius: 0.2vw;
    color : #ffffff;
    margin-top: -0.5vh;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #4E4E4E;
}

.signup-form__input:focus {
    border-bottom: 3px solid #F39927;
 
    outline: none;
}

.signup-form__input__image {
    display: none;
}

.signup-form__select {
    width: 25.1vw;
    height: 5vh;
    font-size: 16px;
    margin-top: 2vh;
    margin-bottom: 1vh;
    background-color: #4E4E4E;
    border-radius: 0.2vw;
    color : #ffffff;
    border : none; 
}

.signup-form__submit {
    font-size: 16px;
    color: #ffffff;
    border-radius: 0.2vw;
    background-color: #F39927;
    width: 12vw;
    height: 5vh;
    border-right :none;
    border-left: none;
    border-top: none;
    border-bottom: none;
    cursor: pointer;

}


.signup-form__select__option {
    font-size: 16px;
    font-weight: 800;
    color : #ffffff
}