{% extends 'base.html' %}
{% load static %}

{% block header %}

<link rel="stylesheet" href="{% static 'css/aboutusModal.css' %}">
<script type="text/JavaScript" src="{% static 'js/index.js' %}"></script>


{% endblock %}

{% block contents %}

<section>
    <div class="aboutus_section">
        <div class="cards_wrap">
            {% for aboutus in aboutus_data reversed%}
            <a class="aboutus_card" href="{% url 'detail_aboutus' aboutus.id %}">
                <img class="card_img" src="{{aboutus.image.url}}" alt="">
                <div class="card_name">{{aboutus.name}}</div>
            </a>
            {% endfor %}
        </div>
        <div class="create_modal">
            <form class="aboutus_form" action="{% url 'create_aboutus' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="aboutus_img">
                    <img src="{% static 'img/aboutus_plus.png' %}" id="aboutus_plus" alt="X">
                </label>
                <input id="aboutus_img" type="file" onchange="changeImg(event,'aboutus_plus')" name="aboutus_image" />
                <input id="aboutus_name" type="text" placeholder="name" name="aboutus_name">
                <textarea id="" cols="30" rows="10" placeholder="About U" name="aboutus_aboutu"></textarea>
                <button type="submit"><span>join</span><img src="{% static 'img/lion_img.png' %}" alt=""></button>
            </form>
        </div>
    </div>
</section>


{% endblock %}
