{% extends 'base.html' %}
{% load static %}

{% block header %}

<link rel="stylesheet" href="{% static 'css/index.css' %}">
<script type="text/JavaScript" src="{% static 'js/index.js' %}"></script>


{% endblock %}

{% block contents %}

<section>
    <div class="aboutus_section">
        <div class="cards_wrap">
            <div class="aboutus_card">

            </div>
        </div>
        <div class="create_modal">
            <form class="aboutus_form" action="{% url 'create_aboutus' %}" method="POST" enctype="multipart/form-data">
                <label for="aboutus_img">
                    <img src="{% static 'img/aboutus_plus.png' %}" id="aboutus_plus" alt="X">
                </label>
                <input id="aboutus_img" type="file" onchange="changeImg(event,'aboutus_plus')" />
                <input id="aboutus_name" type="text" placeholder="name">
                <textarea name="" id="" cols="30" rows="10" placeholder="About U"></textarea>
                <button type="submit">Join</button>
            </form>
        </div>
    </div>
</section>


{% endblock %}
