{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">

{% endblock %}


{% block contents %}
<section>
    <div class="landing-door">
        <img src="{% static 'img/door.png' %}">
    </div>
</section>

<section id="value-section">
    <div class="sub-section">
        <div class="sentence-box">
            <p class="sentence" id="left-text--top">나만의 아이디어를 뽐낼 수 있는 분</p>
            <p class="sentence" id="right-text">적극적으로 프로젝트에 참여할 수 있는 분</p>
            <p class="sentence" id="left-text--bottom">팀원들과 커뮤니케이션을 원활하게 할 수 있는 분</p>
        </div>
    </div>
</section>

<section id="triangle-rotation">
    <div id="triangle-section">
        <svg id="triangle-line">
            <line id='line--left'/>
            <line id='line--right'/>
            <line id='line--bottom'/>
        </svg>
        <div class="talent-text-box">
            <div id="talent-text--top">창의력</div>
            <div id="talent-text--left">열정</div>
            <div id="talent-text--right">팀워크</div>
        </div>
    </div>
</section>

<section id="aboutus-10th">
    <div id="canvas"></div>
</section>
<script type="text/JavaScript" src="{% static 'js/landing.js' %}"></script>

{% endblock %}
