{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">

{% endblock %}


{% block contents %}
<section>
    <div class="landing-door">
        <img src="{% static 'img/door.png' %}">
    </div>
</section>

<section id="value-section">
    <div class="sub-section">
        <div class="sentence-box">
            <p class="sentence" id="left-text--top">나만의 아이디어를 뽐낼 수 있는 분</p>
            <p class="sentence" id="right-text">적극적으로 프로젝트에 참여할 수 있는 분</p>
            <p class="sentence" id="left-text--bottom">팀원들과 커뮤니케이션을 원활하게 할 수 있는 분</p>
        </div>
    </div>
</section>

<section id="triangle-rotation">
    <div id="triangle-section">
        <svg id="triangle-line">
            <line id='line--left'/>
            <line id='line--right'/>
            <line id='line--bottom'/>
        </svg>
        <div class="talent-text-box">
            <div id="talent-text--top">창의력</div>
            <div id="talent-text--left">열정</div>
            <div id="talent-text--right">팀워크</div>
        </div>
    </div>
</section>
<br>
<div class="base-section">
    <div>
        <div id="What we do" class="section-title">What we do</div>
        <div class="section-title-box"></div>
    </div>
</div>
    <br>
<div class="base-section">
    <div>
        <div id="Who we are" class="section-title">Who we are</div>
        <div class="section-title-box"></div>
    </div>
    <div class="whoweare-section">
        <div class="whoweare-title">
            <a href="#"><p>기획/디자인</p></a>
            <a href="#"><p>개발</p></a>
        </div>
        <br>
        <div class="whoweare-line">
            <hr>
        </div>
        <br>
        <div class="whoweare-box">
            <div class="whoweare-box--left">
                <img src="{% static 'img/figma-icon.png' %}" class="stack-icon" id="figma-icon" alt="X"> 
                <img src="{% static 'img/notion-icon.png' %}" class="stack-icon" id="notion-icon" alt="X">          
                <img src="{% static 'img/photoshop-icon.png' %}" class="stack-icon" id="photoshop-icon" alt="X">            
            </div>
            <div class="whoweare-box--right">
                <img src="{% static 'img/django-icon.png' %}" class="stack-icon" id="django-icon" alt="X"> 
                <img src="{% static 'img/frontend-icon.png' %}" class="stack-icon" id="frontend-icon" alt="X">  
                <br>        
                <img src="{% static 'img/react-icon.png' %}" class="stack-icon" id="react-icon" alt="X">            
                <img src="{% static 'img/git-icon.png' %}" class="stack-icon" id="git-icon" alt="X">            
            </div>
        </div>
    </div>

</div>

<section id="aboutus-10th">
    <div id="canvas">
        <button id="add-btn" onclick="">
            <div id="plus-logo"></div>
        </button>
    </div>
</section>

<script type="text/JavaScript" src="{% static 'js/landing.js' %}"></script>

{% endblock %}
