{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/indexBox.css' %}">
{% endblock %}


{% block contents %}
<section>
    <div class="landing-door">
        <img src="{% static 'img/door.png' %}">
    </div>
</section>

<section id="value-section">
    <div class="sub-section">
        <div class="sentence-box">
            <p class="sentence" id="left-text--top">나만의 아이디어를 뽐낼 수 있는 분</p>
            <p class="sentence" id="right-text">적극적으로 프로젝트에 참여할 수 있는 분</p>
            <p class="sentence" id="left-text--bottom">팀원들과 커뮤니케이션을 원활하게 할 수 있는 분</p>
        </div>
    </div>
</section>

<section id="triangle-rotation">
    <div id="triangle-section">
        <svg id="triangle-line">
            <line id='line--left'/>
            <line id='line--right'/>
            <line id='line--bottom'/>
        </svg>
        <div class="talent-text-box">
            <div id="talent-text--top">창의력</div>
            <div id="talent-text--left">열정</div>
            <div id="talent-text--right">팀워크</div>
        </div>
    </div>
</section>
<br>
<div class="base-section">
    <div>
        <div id="What we do" class="section-title">What we do</div>
        <div class="section-title-box"></div>
    </div>
</div>
    <br>
<div class="base-section">
    <div>
        <div id="Who we are" class="section-title">Who we are</div>
        <div class="section-title-box"></div>
    </div>
    <div class="whoweare-section">
        <div class="whoweare-title">
            <div class="whoweare-title-tab">
                <div id="whoweare-title-btn--left">
                    <a class="whoweare-title-btn" href="#a" onclick="javascript:changetoLeft()">
                        기획/디자인
                    </a>
                </div>
                <div id="whoweare-title-btn--right">
                    <a class="whoweare-title-btn" href="#a" onclick="javascript:changetoRight()">
                        개발
                    </a>
                </div>
            </div>
            <div class="whoweare-line-container">
                <div class="whoweare-line">
                    <hr id="under-line" class="under-line">
                </div>
            </div>
        </div>
        
        <br>
        <div class="whoweare-box">
            <div id="whoweare-box--left" class="whoweare-box--left">
                <img src="{% static 'img/figma-icon.png' %}" class="stack-icon--left" id="figma-icon" alt="X"> 
                <img src="{% static 'img/notion-icon.png' %}" class="stack-icon--left" id="notion-icon" alt="X">          
                <img src="{% static 'img/photoshop-icon.png' %}" class="stack-icon--left" id="photoshop-icon" alt="X">            
                <p>
                    - 프로젝트에 대한 아이디어 구성 및 구체적인 프로세스를 성립합니다.
                    <br><br>
                    - 개발자와의 끊임없는 커뮤니케이션을 통해 프로젝트에서 생기는 각종 문제를 해결하고, 
                    <br>사용자 친화적인 UX 및 UI를 제작합니다.
                </p>
            </div>
            <div id="whoweare-box--right" class="whoweare-box--right">
                <img src="{% static 'img/django-icon.png' %}" class="stack-icon--right" id="django-icon" alt="X"> 
                <img src="{% static 'img/frontend-icon.png' %}" class="stack-icon--right" id="frontend-icon" alt="X">  
                <br>        
                <img src="{% static 'img/react-icon.png' %}" class="stack-icon--right" id="react-icon" alt="X">            
                <img src="{% static 'img/git-icon.png' %}" class="stack-icon--right" id="git-icon" alt="X">            
                <p>
                    - 프로젝트의 세부 페이지를 구현합니다.
                    <br><br>
                    - 끊임없는 협업을 통해 하나의 프로젝트를 완성해가고, <br>사용자 친화적인 페이지를 직접 만들어갑니다.
                            
                </p>
    
            </div>
        </div>
    </div>

</div>


<script type="text/JavaScript" src="{% static 'js/landing.js' %}"></script>
<script type="text/JavaScript" src="{% static 'js/changeBox.js' %}"></script>

{% endblock %}
