{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/story.css' %}">
<link rel="stylesheet" href="{% static 'css/history.css' %}">
<link rel="stylesheet" href="{% static 'css/aboutus10th.css' %}">
<link rel="stylesheet" href="{% static 'css/aboutusStaffNew.css' %}">
<link rel="stylesheet" href="{% static 'css/aboutusModal.css' %}">
<style>
    * {
        margin: 0;
        padding: 0;
    }
</style>

{% endblock %}

{% block contents %}

<section>
    <div class="history-section">
        <section class="base-section">
            <div id="history" class="section-title">History</div>
            <div class="section-title-box"></div>
        </section>
        <div class="history-inner">
            <img class="history-background" src="{% static 'img/history-img2.png' %}">
            <div class="history-texts">
                <div class="history-text-1">
                    <h1>😎</h1>
                    <b>우리들의 첫 만남</b>
                    <br>
                    웃음 가득했던
                    <br>
                    멋사 9기들의 첫 만남
                </div>
                <div class="history-text-2">
                    <h1>📃</h1>
                    <b>우리들의 첫 세션</b>
                    <br>
                    첫 세션<br>
                    첫 오프라인 모임<br>
                    첫 자전거<br>
                    #성공적
                </div>
                <div class="history-text-3">
                    <h1>🧑👩</h1>
                    <b>우리들의 첫 모각코</b><br>
                    <b class="emph">모</b>여서 <b class="emph">각</b>자 <br>
                    <b class="emph">코</b>딩할 사람~ <br>
                    구글미트로 집합!
                </div>
                <div class="history-text-4">
                    <h1>💡</h1>
                    <b>아이디어톤</b><br>
                    <a href="#didi">디디</a><br>
                    <a href="#culturebook">컬처북</a><br>
                    <a href="#moiza">모의자</a><br>
                    <a href="#codehunter">코드헌터</a><br>
                </div>
                <div class="history-text-5">
                    <h1>💻</h1>
                    <b>해커톤</b><br>
                    <a href="#DoMain">DoMain</a><br>
                    <a href="#Nativing">Nativing</a><br>
                </div>
                <div class="history-text-6">
                    <h1>📚</h1>
                    <b>컨퍼런스</b><br>
                    <b>&</b><br>
                    <b>스터디 시작</b>
                </div>
                <div class="history-text-7">
                    <h1>💯</h1>
                    <b>중커톤</b><br>
                    <a href="#StealRoutine">괴도루틴</a><br>
                    <a href="#LatteKing">LatteKing</a><br>
                    <a href="#Stargram">Stargram</a>
                </div>
                <div class="history-text-8">
                    <h1>😭</h1>
                    <b>우리들의 마지막</b><br>
                    멋FOREVER사
                </div>
            </div>
        </div>
        <!-- <img src="{% static 'img/history-img2.png' %}" class="history-image">
        <div class="history-texts"> -->
            <!-- <div class="text-first">
            
            <div class="text-fifth">
                <div class="text-fifth-inside">
                    
                </div>
            </div>
            <div class="text-sixth">
                <div class="text-sixth-inside">
                    
                </div>
            </div>
            <div class="text-seventh-eighth">
                <div class="text-eighth">
                    <div style="padding-left:15%">
                        
                    </div>
                </div>
                <div class="text-seventh">
                    <div style="padding-left:30%">
                        
                    </div>
                </div>
            </div> -->

        </div>
    </div>
</section>

<div class="base-section" style="margin-top:20%;">
    <div class="project-section">
        <div id="project" class="section-title">Project</div>
        <div class="section-title-box"></div>
        <div class="project-cards">
            <h1>아이디어톤</h1>
            <div class="project-container">
                <li class="project-card" id="didi">
                    <img src="{% static 'img/didi-logo.png' %}" class="project-card-img" alt="X">
                    <div class="project-description">
                        <strong class="project-title">디디</strong>
                        <a class="project-youtube" href="https://youtu.be/wrfKeRoK1Ec"><img
                                src="{% static 'img/youtube-icon.svg' %}" id="youtube-logo"></a>
                    </div>
                    <p><b>사회적 기업과 학생 디자이너의 만남, 디디</b></p>
                    <hr>
                    <p>시안 공모를 통해 학생 디자인이 사회적 기업의 프로젝트와 연결 될 수 있는 플랫폼 서비스</p>
                </li>
                <li class="project-card" id="culturebook">
                    <img src="{% static 'img/culturebook-logo.png' %}" class="project-card-img" alt="X">
                    <div class="project-description">
                        <strong class="project-title">컬처북</strong>
                        <a class="project-youtube"
                            href="https://www.youtube.com/watch?app=desktop&v=O6mnKOauDdY&ab_channel=%EB%AF%BC%EC%A0%95%ED%98%B8"><img
                                src="{% static 'img/youtube-icon.svg' %}" id="youtube-logo"></a>
                    </div>
                    <p><b>전통문화체험 예약 플랫폼</b></p>
                    <hr>
                    <p>전통 문화, 특산물 체험 관련 콘텐츠를 쉽고, 빠르게 예약 할 수 있는 서비스</p>
                </li>

                <li class="project-card" id="moiza">
                    <img src="{% static 'img/moiza-icon.png' %}" class="project-card-img" alt="X">
                    <div class="project-description">
                        <strong class="project-title">모의자</strong>
                        <a class="project-youtube" href="https://youtu.be/3K2CKHKzg3g"><img
                                src="{% static 'img/youtube-icon.svg' %}" id="youtube-logo"></a>
                    </div>
                    <p><b>의사결정이 필요할 땐, 여기로 모의자!</b></p>
                    <hr>
                    <p>더욱 투명하게 의견을 공유하고, 더욱 체계적으로 의사결정을 진행할 수 있는 서비스</p>
                </li>
                <li class="project-card" id="codehunter">
                    <img src="{% static 'img/codehunter-logo.png' %}" class="project-card-img" alt="X">
                    <div class="project-description">
                        <strong class="project-title">코드헌터</strong>
                        <a class="project-youtube" href="https://youtu.be/TQGUG4ucuIE">
                            <img src="{% static 'img/youtube-icon.svg' %}" id="youtube-logo">
                        </a>
                    </div>
                    <p><b>클린코드의 모든 것</b></p>
                    <hr>
                    <p>한국인을 위한 빠르고 간편한 <br>코드리뷰 플랫폼</p>
                </li>
            </div>
        </div>

        <div class="project-cards">
            <h1>해커톤</h1>
            <div class="project-container">
                <li class="project-card" id="DoMain">
                    <img src="{% static 'img/domain-icon.png' %}" class="project-card-img" alt="X">
                    <div class="project-description">
                        <strong class="project-title">
                            DoMain&nbsp;
                        </strong>
                        <a class="project-github" href="https://github.com/LikeLion-CAU-9th/DoMain">
                            <img src="{% static 'img/github-icon.png' %}" id="github-icon">
                        </a>
                    </div>
                    <p><b>Better than Naver, more suitable than Google</b></p>
                    <hr>
                    <p>사용자가 원하는대로 커스터마이징하는 <br>메인 웹페이지</p>
                </li>
                <li class="project-card" id="Nativing">
                    <img src="{% static 'img/nativing-logo.png' %}" class="project-card-img" alt="X">
                    <div class="project-description">
                        <strong class="project-title">Nativing</strong>&nbsp;
                        <a class="project-github" href="https://github.com/LikeLion-CAU-9th/Nativing2">
                            <img src="{% static 'img/github-icon.png' %}" id="github-icon">
                        </a>
                    </div>

                    <p><b>카톡으로 쉽게 배우는 한국인 멘토의 진짜 한국어</b></p>
                    <hr>
                    <p>한국인이 실제 사용하는 구어체를 배우고 싶을 때 사용하는 구독형 교육 웹페이지</p>
                </li>
            </div>
        </div>

        <div class="project-cards">
            <h1>중커톤</h1>
            <div class="project-container">
                <li class="project-card" id="StealRoutine">
                    <img src="{% static 'img/routine-logo.png' %}" class="project-card-img" alt="X">

                    <div class="project-description">
                        <strong class="project-title">괴도루틴</strong>&nbsp;
                        <a class="project-github" href="#">
                            <img src="{% static 'img/github-icon.png' %}" id="github-icon">
                        </a>
                    </div>



                    <p><b>루틴을 훔치자, 괴도루틴</b></p>
                    <hr>
                    <p>헬린이들을 위한 루틴케어 서비스</p>
                </li>
                <li class="project-card" id="LatteKing">
                    <img src="{% static 'img/latteking-logo.png' %}" class="project-card-img" alt="X">

                    <div class="project-description">
                        <strong class="project-title">라떼킹</strong>&nbsp;
                        <a class="project-github" href="https://github.com/LikeLion-CAU-9th/latteking">
                            <img src="{% static 'img/github-icon.png' %}" id="github-icon">
                        </a>
                    </div>

                    <p><b>‘라떼는 말이야~이 노래가 유행이었어~’</b></p>
                    <hr>
                    <p>우리들의 그 때 그 시절, 더 옛날 노래 맞추기 게임</p>
                </li>

                <li class="project-card" id="Stargram">
                    <img src="{% static 'img/stargram-logo.png' %}" class="project-card-img" alt="X">
                    <div class="project-description">
                        <strong class="project-title">스타그램</strong>&nbsp;
                        <a class="project-github" href="https://github.com/LikeLion-CAU-9th/stargram">
                            <img src="{% static 'img/github-icon.png' %}" id="github-icon">
                        </a>
                    </div>
                    <p><b>별자리속 기억되는 나만의 여행</b></p>
                    <hr>
                    <p>여행속 곳곳의 사진들에서 찍은 위치를 통해 별자리 카드를 만들어 주는 서비스</p>
                </li>
            </div>
        </div>

    </div>

    <!-- About us section -->
    <div id="aboutus" class="section-title">About Us</div>
    <div class="section-title-box"></div>

    <!-- About us 운영진 section -->

    <!-- 운영진 관련 text -->
    <div class="section-content">
        <span class="orange">'멋쟁이 사자'</span>
        <span class="white">들을 소개합니다!</span>
    </div>

    <p id="bold">운영진</p>
    <div class="staff">
        <!-- 운영진 bubble rotation -->
        <div class="staff-bubble">
            <div class="staff-detail" id="aboutus-staff-1">
                <img src="{% static 'img/성민.png' %}">
                <p>이성민</p>
            </div>

            <div class="staff-detail" id="aboutus-staff-2">
                <img src="{% static 'img/선영.png' %}">
                <p>윤선영</p>
            </div>

            <div class="staff-detail" id="aboutus-staff-3">
                <img src="{% static 'img/윤한.png' %}">
                <p>최윤한</p>
            </div>

            <div class="staff-detail" id="aboutus-staff-4">
                <img src="{% static 'img/지원.png' %}">
                <p>정지원</p>
            </div>

            <div id="aboutus-staff-transparent">
                <img src="{% static 'img/lion.png' %}">
            </div>
            
            <div class="staff-detail" id="aboutus-staff-5">
                <img src="{% static 'img/명준.png' %}">
                <p>김명준</p>
            </div>

            <div class="staff-detail" id="aboutus-staff-6">
                <img src="{% static 'img/승아.png' %}">
                <p>김승아</p>
            </div>

            <div class="staff-detail" id="aboutus-staff-7">
                <img src="{% static 'img/영권.png' %}">
                <p>김영권</p>
            </div>

            <div class="staff-detail" id="aboutus-staff-8">
                <img src="{% static 'img/지수.png' %}">
                <p>서지수</p>
            </div>
        </div>
    </div>

    <!-- About us 10th section -->
    <div class="section-content-10th">
        <p class="white-10th">멋쟁이 사자처럼</p>
        <p class="orange-10th">10기</p>
    </div>
    <div id="aboutus-10th">
        <div id="canvas">
            <button id="add-btn" onclick="showModal()">
                <div id="plus-logo"></div>
            </button>
        </div>

        <!-- Modal -->
        <div id="aboutus-10th-modal" style="opacity:0; z-index: -1;">
            <button id="close-modal" onclick="closeModal()">
                <div class="close"></div>
            </button>

            <form class="aboutus_form" action="{% url 'create_aboutus' %}" method="POST" enctype="multipart/form-data"?>
                {% csrf_token %}
                <label for="aboutus_img">
                    <img src="{% static 'img/aboutus_plus.png' %}" id="aboutus_plus" alt="X">
                </label>
                <input id="aboutus_img" type="file" onchange="changeImg(event, 'aboutus_plus')" name="aboutus_image"/>
                <input id="aboutus_name" type="text" placeholder="name" name="aboutus_name"/>
                <div class="filebox">
                    <input class="upload-name" value="첨부파일" placeholder="자기소개 pdf">
                    <label for="file">파일찾기</label>
                    <input type="file" id="file" name="aboutus_pdf">
                </div>
                <button type="submit"><span>join</span></button>
            </form>
        </div>
    </div>

</div>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/JavaScript" src="{% static 'js/aboutus10th.js' %}"></script>
<script type="text/JavaScript" src="{% static 'js/index.js' %}"></script>
<script type="text/JavaScript" src="{% static 'js/aboutusStaff.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
{% endblock %}