{% extends 'base.html' %}
{% load static %}

{% block header %}

<link rel="stylesheet" href="{% static 'css/story.css' %}">


{% endblock %}

{% block contents %}

<section>
    <div class="history-section">
        <div class="history-img">
            <div class="text-first"></div>
            <div class="text-second"></div>
            <div class="text-third"></div>
            <div class="text-fourth"></div>
            <div class="text-fifth"></div>
            <div class="text-sixth"></div>
            <div class="text-seventh"></div>
            <div class="text-eighth"></div>

        </div>
    </div>
</section>


{% endblock %}
