{% extends 'base.html' %}
{% load static %}

{% block header %}

<link rel="stylesheet" href="{% static 'css/story.css' %}">


{% endblock %}

{% block contents %}

<section>
    <div class="history-section">
        History
        <div class="history-img">
            <div class="history-text text-first">
                <p>😎</p>
                <b>우리들의 첫 만남</b><br>
                웃음 가득했던<br>
                멋사 9기들의 첫 만남
            </div>
            <div class="history-text text-second">
                <p>📃</p>
                <b>우리들의 첫 세션</b><br>
                첫 세션<br>
                첫 오프라인 모임<br>
                첫 자전거<br>
                #성공적
            </div>
            <div class="history-text text-third">
                <p>💻</p>
                <b>우리들의 첫 모각코</b><br>
                모여서 <br>
                각자 <br>
                코딩할 사람~ <br>
                구글미트로 집합!
            </div>
            <div class="history-text text-fourth">
                <b>아이디어톤</b><br>
                디디<br>
                컬처북<br>
                모의자<br>
                코드헌터<br>
            </div>
            <div class="history-text text-fifth">
                <b>해커톤</b><br>
                DoMain<br>
                Nativing<br>
            </div>
            <div class="history-text text-sixth">
                <b>컨퍼런스</b><br>
                <b>&</b><br>
                <b>스터디 시작</b>
            </div>
            <div class="history-text text-seventh">
                <b>중커톤</b><br>
                Stargram<br>
                LatteKing<br>
                괴도루틴
            </div>
            <div class="history-text text-eighth">
                <b>우리들의</b><br>
                <b>마지막</b><br>
                멋FOREVER사 
            </div>

        </div>
    </div>
</section>

<section>
    <div class="project-section">
        project
        <div class="project-ideathon">
            <h1>아이디어톤</h1>
            <ul>
                <li class="project-card">
                    <img src="{% static 'img/didi-logo.png' %}" class="project-card-img" alt="X">
                    <strong>디디</strong>
                    <a href="#"><img src="{% static 'img/youtube-icon.svg' %}" id="youtube-logo"></a>
                    <p><b>사회적 기업과 학생 디자이너의 만남, 디디</b></p>
                    <hr>
                    <p>시안 공모를 통해 학생 디자인이 사회적 기업의 프로젝트와 연결 될 수 있는 플랫폼 서비스</p>
                </li>
                <li class="project-card">
                    <img src="{% static 'img/culturebook-logo.png' %}" class="project-card-img" alt="X">
                    <strong>컬처북</strong>
                    <a href="#"><img src="{% static 'img/youtube-icon.svg' %}" id="youtube-logo"></a>
                    <p><b>전통문화체험 예약 플랫폼</b></p>
                    <hr>
                    <p>전통 문화, 특산물 체험 관련 콘텐츠를 쉽고, 빠르게 예약 할 수 있는 서비스</p>
                </li>
                <br>
                <li class="project-card">
                    <img src="{% static 'img/moiza-logo.png' %}" class="project-card-img" alt="X">
                    <strong>모의자</strong>
                    <a href="#"><img src="{% static 'img/youtube-icon.svg' %}" id="youtube-logo"></a>
                    <p><b>의사결정이 필요할 땐, 여기로 모의자!</b></p>
                    <hr>
                    <p>더욱 투명하게 의견을 공유하고, 더욱 체계적으로 의사결정을 진행할 수 있는 서비스</p>
                </li>
                <li class="project-card">
                    <img src="{% static 'img/codehunter-logo.png' %}" class="project-card-img" alt="X">
                    <strong>코드헌터</strong>
                    <a href="#"><img src="{% static 'img/youtube-icon.svg' %}" id="youtube-logo"></a>
                    <p><b>클린코드의 모든 것</b></p>
                    <hr>
                    <p>한국인을 위한 빠르고 간편한 코드리뷰 플랫폼<br>&nbsp;</p>
                </li>
                
            </ul>
        </div>
    </div>
</section>

{% endblock %}
