{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    
    {% block header %}
    <!-- Need a title -->
    {% endblock %}
</head>

<header>
       <nav>
        <div class="nav-wrap">
            <div class="nav-left">
                <a href="{% url 'index' %}" class ="nav__nav-left__logo"><img class="nav-logo" src="../static/img/likelion.jpeg" alt=""></a>
                <a href="{% url 'index' %}" class="nav__nav-left__a">멋쟁이 사자처럼</a>
            </div>
            <div class="nav-right">
                <a href="#" class="nav__nav-right__a">Playground</a>
                <a href="#" class="nav__nav-right__a">FAQ</a>
                <a href="{% url 'signup' %}" class="nav__nav-right__a" }">Apply</a>
            </div>
        </div>
    </nav>
</header>

<body>

  
    {% block contents %}

    {% endblock %}

</body>
</html>