{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/css/base.css">
    
    {% block header %}
    <!-- Need a title -->
    {% endblock %}
</head>


<body>
    <nav>
        <div class="nav-wrap">
            <div class="nav-left">
                <a href="#"><img class="nav-logo" src="../static/img/likelion.jpeg" alt=""></a>
                <a href="#">멋쟁이 사자처럼</a>
            </div>
            <div class="nav-right">
                <a href="#">Story</a>
                <a href="#">Playground</a>
                <a href="#">FAQ</a>
                <a href="#">Apply</a>
            </div>
        </div>
    </nav>
  
    {% block contents %}

    {% endblock %}

</body>
</html>