body{
    background-color: #000;
    color: #fff;
    overflow-x: hidden;

}

nav{
    position:fixed;
    left: 0;
    right: 0;
    height:80px;
    padding:20px;
}

.nav-contents{
    border-bottom: gray;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color:black;
}