{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/playground.css' %}">
<script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
{% endblock %}

{% block contents %}
<!-- <ul>
    {% for mentor_room in object_list %}
        <form method="post">{% csrf_token %}
            <h4>{{ mentor_room.name }}</h4>
            <h4>{{ matching_temperature|get_item:mentor_room.id }}</h4>
            {% for answer in mentor_room.mentor.answer_set.all %}
            <h4>{{ answer.choice.emoji }}</h4>
            <h4>{{ answer.choice.text }}</h4>
            {% endfor %}
            <input type="submit" value="깐부맺기">
        </form>
    {% endfor %}
</ul>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span> -->

<section>
    <div class="survey-wrap choice-wrap">
        <div class="survey-wrap__choiceIntro">
            <div><span class="choiceIntro-nameSpan">{{request.user.nickname}}</span> 10기와</div>
            <div>찰떡궁합인 깐부들이에요</div>
            <div>마음에 드는 깐부를 픽 해주세요!</div>
            <hr>
        </div>

        <div class="survey-wrap__choiceMain">
            <div class="choiceMain-title">멘토 추천</div>

            {% if messages %}
            {% for message in messages  %}
                <div class="message-alram">{{message}}</div>
                <!-- 방금 클릭한 멘토는 정원이 꽉 찼어요ㅜㅜ 다른 멘토와 깐부를 맺어주세요!  -->
            {% endfor %}
            {% endif %}

            <div class="choiceMain-cards">

                {% for mentor_room in object_list %}
                <form class="choiceMain-cards__card" action="{% url 'mentee-create' %}" method="POST">
                    {% csrf_token %}
                    <div class="card-title">
                        <div>{{ mentor_room.name }}</div>
                    </div>
                    <div class="card-wrap">
                        <div class="card-wrap__profile"> 
                            <img src="{{mentor_room.mentor.profile_photo.url}}" alt="xx">
                            <div class="profile-name">{{ mentor_room.mentor.nickname }}</div>
                        </div>
                        <div class="card-wrap__character">
                            {% for answer in mentor_room.mentor.answer_set.all|slice:":3" %}
                            <div>
                                <span class="iconify" data-icon="{{ answer.choice.emoji }}" style="color: white; font-size: 10px;"></span>
                                {{ answer.choice.text }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="card-temperature">
                        <div>궁합온도 {{ matching_temperature|get_item:mentor_room.id }} 도 </div>
                        <progress class="survey-wrap__progress choiceProgress" value="{{ matching_temperature|get_item:mentor_room.id }}" max="100"></progress>
                    </div>
                    <button class="survey-wrap__form__button choiceBtn" type="submit">깐부 맺기</button>
                    <input type="hidden" name="mentor_room" value="{{mentor_room.id}}">
                </form>
                {% endfor %}

            </div>

        </div>
        <button class="survey-wrap__form__button"><a href="{% url 'mentor-room-match' %}">재추천</a></button>
    </div>
    
</section>
    
{% endblock %}


