{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/playground.css' %}">
<script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
<script src="{% static 'js/playground.js' %}"></script>
{% endblock %}

{% block contents %}
<!-- <h1>html 출력이 네비게이트바에 가려지네요</h1>
<div>
    <h4>Q{{object.order}}</h4>
    <h4>{{object.text}}</h4>
    <form class="survey-wrap__form" action="{% url 'answer-edit' %}", method="post">
        {% csrf_token %}
        <div class="survey-wrap__form-cards">
            {% for choice in object.choice_set.all %}
            <div class="form__card">
                <h4>{{ choice.emoji }}</h4>
                <div>{{ choice }}</div>
            </div>
            {% endfor %}
        </div>
    </form>

</div> -->
<section>
    <div class="survey-wrap">
        <div class="survey-wrap__back" onClick="javascript:history.go(-1);"><</div>
        <h4>Q{{object.order}}</h4>
        <h4>{{object.text}}</h4>
        <div class="survey-wrap__form">
            <div class="survey-wrap__form-cards" >
                {% for choice in object.choice_set.all %}
                <form action="{% url 'answer-edit' %}" method="post" >
                    {% csrf_token %}
                    <button type="submit" class="form__card" onmousedown="mouseDownCard(this);">
                        <span class="iconify" data-icon="{{ choice.emoji }}" style="color: white; font-size: 50px;"></span>
                        <div class="card-choice">{{ choice }}</div>
                    </button>
                    <input type="hidden" name="choice" value="{{choice.id}}">
                </form>
                {% endfor %}

                
            </div>
        </div>
        <progress class="survey-wrap__progress" value="{{object.order}}" max="8"></progress>
        
    </div>
    
</section>
{% endblock %}
