{% extends 'base.html' %}
{% load static %}

{% block header %}

{% endblock %}

{% block contents %}
<h1>html 출력이 네비게이트바에 가려지네요</h1>
<div>
    <h4>Q{{object.order}}</h4>
    <h4>{{object.text}}</h4>
    <form class="survey-wrap__form" action="{% url 'answer-edit' %}", method="post">
        {% csrf_token %}
        <div class="survey-wrap__form-cards">
            {% for choice in object.choice_set.all %}
            <div class="form__card">
                <h4>{{ choice.emoji }}</h4>
                <div>{{ choice }}</div>
            </div>
            {% endfor %}
        </div>
    </form>

</div>
{% endblock %}
