
* {
    color:black;
}

nav, body{
    background-color:#F39927;
}

h4, h5 {
    margin:0px;
}
/* intro */

section{
    display:flex;
    justify-content: center;
    width:100vw;
}

.survey-wrap{
    width:40%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 20px 50px 20px 50px;
    margin: 20px 80px 0px 80px;
    background-color:#FFF5DD;
    border-radius: 5px;

}

.survey-wrap h2 {
    margin:30px;
}

.survey-wrap__intro{
    text-align: center;
    font-size: 10px;
    font-weight: 700;
}

.survey-wrap__intro p, .survey-wrap__explain p{
    margin-bottom:5px;
}

.survey-wrap > img{
    margin:10px;
    width:180px;
}

.survey-wrap__explain{
    text-align: center;
    font-size: 10px;
    margin-bottom:40px;
}

.survey-wrap__explain span{
    font-weight: 700;
}

.survey-wrap__button{
    text-align: center;
    width:250px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    border-radius: 5px;
    background-color:#F39927;
    margin-bottom:20px;

}

/* info */
.survey-wrap__back{
    cursor: pointer;
    font-size: 30px;
    color:gray;
    align-self: flex-start;
}

.survey-wrap > h4{
    margin-left: 30px;
    align-self: flex-start;
    margin-bottom: 20px;


}

.survey-wrap__form{
    width:100%;
    align-self:flex-start;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}


.survey-wrap__input-wrap{
    display:inline-block;
    width: 50%;
    margin-bottom:20px;
}




.survey-wrap__input-wrap input{
    height:20px;
    width:90%;
    background-color:#F39927;
    color:white;
    padding:10px;
    border:none;
    border-radius: 5px;
    margin-bottom:20px;

}

.survey-wrap__input-wrap input::placeholder{
    color:white;
}

.survey-wrap__input-wrap h5{
    margin-top:0px;
    margin-bottom:10px;
}

.survey-wrap__form__button{
    border:none;
    border-radius: 5px;
    width:15%;
    height:30px;
    background-color:#F39927;
    color:white;
    cursor:pointer;
    margin-bottom:20px;

}

/* qna */



.survey-wrap__form-cards{
    width:80%;
    text-align: center;
    margin-bottom: 20px;
}

.form__card{
    display:inline-block;
    width:150px;
    height:150px;
    position:relative;
    background-color: white;
    border-radius: 5px;
    margin:10px;
    text-align:center;
    font-size:12px;
}

/* .form__card:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  
.inner {
    position: absolute;
    width: 100%;
    height: 100%;
} */

.form__card > img{
    width:50px;
    height:50px;
    margin-top:50px;
    margin-bottom: 20px;
}

.survey-wrap__progress {
    border: 0;
    height: 10px;
    border-radius: 20px;
    width:50%;
    margin-bottom:20px;
  }
  
  .survey-wrap__progress::-webkit-progress-bar {
    border: 0;
    height: 10px;
    border-radius: 20px;
    background-color:white;
  }
  
  ::-webkit-progress-value {
    border: 0;
    height: 10px;
    border-radius: 20px;
    background-color: #121211;
  }

  /* plg-choice */
.choice-wrap{
    width:50%;
}

.survey-wrap__choiceIntro{
    margin:20px;
    
    width:100%;
    font-weight: 700;
}

.survey-wrap__choiceIntro > div{
    margin-bottom:10px;
}

.survey-wrap__choiceIntro .choiceIntro-nameSpan{
    font-size:20px;
    color:#F39927;
}

.survey-wrap__choiceIntro > hr{
    margin-top:20px;
}

.survey-wrap__choiceMain{
    width:100%;
}

.choiceMain-title{
    color:#F39927;
    margin-bottom:20px;
}

.choiceMain-cards{
    display: flex;
    justify-content: space-between;
    flex-flow : row wrap;
    width:100%;
    margin-bottom:40px;
}

.choiceMain-cards__card{
    width:200px;
    /* height:280px; */
    box-shadow: 0 1px 20px 0 rgba(0,0,0,0.1);
    border-radius: 10px;
    margin-bottom:20px;
    padding:10px;
    font-size: 14px;
    display:flex;
    flex-direction: column;
    align-items: center;
    border:1px solid rgba(0,0,0,0.1);

}

.card-title{
    margin-bottom:20px;
    font-weight: 700;
}

.card-wrap{
    width:100%;
    display: flex;
    justify-content:space-between;
    font-size:12px;
    margin-bottom:20px;
}

.card-wrap__profile{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width:40%;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.1);
    border-radius: 5px;
    height:100px;
    font-weight: 700;
    border:1px solid rgba(0,0,0,0.1);

}

.card-wrap__profile > img{
    width:90%;
    border-radius: 50%;
}

.card-wrap__character{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:55%;
    height:100px;
}

.card-wrap__character > div{
    width:100%;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.1);
    border-radius: 5px;
    height:30px;
    display: flex;
    align-items: center;
    border:1px solid rgba(0,0,0,0.1);

}

.card-wrap__character > div > ion-icon{
    margin:0px 5px 0px 5px;
    color:#F39927;
}

.card-temperature{
    display:flex;
    width:100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-temperature > div{
    margin-bottom:10px;
}

.survey-wrap__form__button.choiceBtn{
    width:30%;
    font-size:12px;
    height:30px;
    margin-bottom:10px;
}

.survey-wrap__progress.choiceProgress {
    border: 0;
    height: 10px;
    border-radius: 20px;
    width:70%;
    margin-bottom:20px;
  }
  
  .survey-wrap__progress.choiceProgress::-webkit-progress-bar {
    border: 0;
    height: 10px;
    border-radius: 20px;
    background-color:black;
  }
  
  ::-webkit-progress-value {
    border: 0;
    height: 10px;
    border-radius: 20px;
    background-color: #F39927;
  }